attrs==24.2.0
bidict==0.22.1
black==24.8.0
click==8.1.7
funcy==1.18
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
platformdirs==4.2.2
py-aiger==6.2.3
py-aiger-cnf==5.0.8
pyapproxmc==4.1.24
pycryptosat==5.11.23
pypblib==0.0.4
pyrsistent==0.19.3
python-sat==1.8.dev13
six==1.16.0
sortedcontainers==2.4.0
